<h1> Avaliação 1 </h1>
<a [routerLink]="['/thaylla']"> Thaylla | </a>
<a [routerLink]="['/lista']"> Disciplinas  </a>
<hr/>

<h4> Intruções </h4>
 <ol>
   <li> (10 pontos) O AppComponent deve apresentar um menu de navegação com links para os componentes solicitados abaixo. </li>

   <li> (5 pontos) O app.module deve ter configuradas as rotas para os componentes solicitados abaixo. </li>

   <li> (5 pontos) Um componente chamado “[SeuNome]Component” que apresente seus dados de identificação: nome completo, RA (registro de aluno ou matrícula) e link para o perfil do GitHub </li>

   <li> (20 pontos) Um service chamado “[SeuNome]DisciplinasService” que permita listar, incluir e excluir uma lista de disciplinas (código, nome, diaDaSemana, horario e ementa) já inicializada com as disciplinas cursadas por você neste semestre </li>

   <li> (20 pontos) Um componente chamado “[SeuNome]ListaComponent” que apresente ao usuário uma tabela com suas disciplinas mostrando código, nome, dia da semana e horário e um link para visualizar os detalhes da disciplina </li>
   <ol>
    <li> (10 pontos) Deve haver um formulário que permita incluir uma nova disciplina. </li>
    <li> (10 pontos) Deve haver um comando em cada linha da tabela para excluir a disciplina. </li>
   </ol>

   <li> (20 pontos) Um componente chamado “[SeuNome]DetalhesComponent” que apresente ao usuário os detalhes de uma disciplina a partir de um link do componente anterior </li>

 </ol>

<router-outlet></router-outlet>